#preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111315;
  z-index: 100;
}
#preloader_animation {
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

